<% include partials/header %>

    <p id="status">

    </p>
    <div id="next">

    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/jqueryui/jquery-ui.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/formbuilder/form-builder.min.js"></script>
    <script src="/formbuilder/form-render.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/polls_live.js"></script>


    <script src="/js/poll_live.js"></script>

  <% include partials/footer %>
