<% include partials/header %>
        <p id="status">

        </p>
        <div id="next">

        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/jquery/jquery.min.js"></script>
        <script src="/js/polls_live.js"></script>


    <% include partials/footer %>
