<% include partials/header %>
<h1>Editer le sondage </h1>


<div class="content">
  <div id="form-builder-pages">
    <ul id="tabs">
      <li><a href="#page-1">Page 1</a></li>
      <li id="add-page-tab"><a href="#new-page">+ Page</a></li>
    </ul>
    <div id="page-1">
      <div class="build-wrap"></div>
    </div>
    <div id="new-page">
    </div>
    <div class="render-wrap"></div>
    <button id="edit-form">Edit Form</button>
  </div>
  <div class="save-all-wrap"><button id="save-all" class="btn btn-primary" type="button">Save All</button></div>
</div>


<!-- <script src="/js/vendor.min.js"></script>
<script src="/js/form-builder.min.js"></script>
<script src="/js/form-render.min.js"></script> -->
<script src="/js/jquery-3.2.1.min.js"></script>

</script>
<script src="/js/jquery-ui.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.1/jquery.rateyo.min.js"></script> -->
<script src="/js/builder.js"></script>

<% include partials/footer %>
