
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Interpoll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/formbuildercharts/form-builder.custom.css">
    <link rel="stylesheet" type="text/css" href="materialize/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <nav class="white" role="navigation">
<div class="nav-wrapper">

            <a id="logo-container" href="/" class="brand-logo"><img src="/img/logo.png" width="40"></a>

          <% if (userLogged) { %>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="/polls/1" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mes sondages"><i class="material-icons">view_list</i></a>
              </li>
              <li>

                <a href="/myaccount" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mon compte"><i class="material-icons">person_pin</i></a>
              </li>
              <li>
                <a href="/logout" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Se déconnecter"><i class="material-icons">power_settings_new</i></a>
              </li>
            </ul>
          </nav>
          <% } else{%>
          <a href="/login" class="brand-logo right"><i class="material-icons">perm_identity</i></a>
<%}%>
        </div>
      </nav>

    <main>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <img class="logo-index" src="/img/logo.png" width="150">
        </div>
        <h1 class="header center indigo-text ">Interpoll</h1>
        <div class="row center">
          <h5 class="header col s12 light">L'application pour rendre vos présentations dynamiques</h5>
        </div>
        <div class="row center">
          <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/img/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center indigo-text  text-accent-1"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Dynamise vos présentations</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center indigo-text  text-accent-1"><i class="material-icons">stay_primary_portrait</i></h2>
            <h5 class="center">Disponible sur tout support</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms
              allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center indigo-text  text-accent-1"><i class="material-icons">settings</i></h2>
            <h5 class="center">Facile d'utilisation</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Une application développée en NodeJS</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send blue lighten-4"></i></h3>
          <h4>Comment ça marche ?</h4>
          <div class="col s12 l6">
            <div class="slider">
              <ul class="slides">
                <li>
                  <img src="/img/slider-1.png">
                  <!-- random image -->
                  <div class="caption center-align">
                  </div>
                </li>
                <li>
                  <img src="/img/slider-2.png">
                  <!-- random image -->
                  <div class="caption center-align">
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col s12 l6">
          <h6 class="left-align light">Créer et personnaliser vos sondages facilement à intégrer à vos présentations</h6>
          <ul>
            <ol>
              Créez votre sondage facilement et rapidement
            </ol>
            <ol>
              Personnalisez-le sans limites avec un grand nombre de solutions
            </ol>
            <ol>
              Décidez vous-même de l'affichage des résultats et de l'apparence du sondage
            </ol>
            <ol>
              Mettez votre sondage en ligne quand vous le souhaitez
            </ol>
            <ol>
              Invitez des personnes pour participer !
            </ol>
          </ul>
        </div>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer indigo accent-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Interpoll</h5>
          <p class="grey-text text-lighten-4">Projet réalisé dans le cadre de la Licence Professionnelle Développement Web et Mobile</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made with <span class="blue lighten-4 text-lighten-4">coffee</span>
      </div>
    </div>
  </footer>


  <% include partials/footer %>
  <script>
     $('.slider').slider();
  </script>
