<% include partials/header %>
<div class="login-container">

<% if (err != null) { %>
      <div class="alert alert-danger"><%= err %></div>
    <% } %>
      <form action="/signup" method="post" class="full-content">
        <div class="form-group">
             <label for="username" >Identifiant :</label>
             <input type="text" id="username" required class="form-control" placeholder="Identifiant" name="username"/>
      </div>
      <div class="form-group">
          <label for="email">Adresse e-mail:</label>
          <input required type="email" id="email" class="form-control" placeholder="E-mail" name="email" />
        </div>
        <div class="form-group">
               <label for="password">Mot de passe:</label>
               <input type="password" id="password"  class="form-control" placeholder="Mot de passe" name="password"/>
           </div>
           <div class="form-group">
                  <label for="confirm_password">Confirmation du mot de passe:</label>
                  <input type="password" id="confirm_password"  class="form-control" placeholder="Confirmation du mot de passe" name="confirm_password"/>
              </div>
              <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="S'inscrire"/>
              </div>
              J'ai déjà un compte <a href="/login"> me connecter </a>

      </form>
    </div>
      <% include partials/footer %>
