<% include partials/header %>
<div class="row">
  <form action="/signup" method="post" class="full-content">
    <div class="col l4 s12 col-centered">

<% if (err != null) { %>
  <div id="card-alert" class="card red lighten-5">
    <div class="card-content red-text">
      <%= err %>
    </div>
  </div>
      <% } %>
      <div class="card">

        <div class="card-content">
          <span class="card-title">Inscription</span>
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" id="username" class="validate" name="username" />
            <label for="username">Identifiant</label>
          </div>
                  <div class="input-field">
            <i class="material-icons prefix">email</i>
          <input required type="email" id="email" class="validate" name="email" />
          <label for="email">Adresse e-mail</label>

        </div>

        <div class="input-field">
          <i class="material-icons prefix">vpn_key</i>
          <input type="password" id="password" class="validate"   name="password" />
          <label for="password">Mot de passe</label>

        </div>
        <div class="input-field">
          <i class="material-icons prefix">vpn_key</i>
          <input type="password" id="confirm_password" class="validate"   name="confirm_password" />
          <label for="confirm_password">Confirmation du mot de passe</label>

        </div>
        <input type="submit" class="btn btn-primary" value="S'inscrire"/>

      </div>
      <div class="card-action">
              J'ai déjà un compte <a href="/login"> me connecter </a>
      </div>
    </div>
  </div>
      </form>
    </div>
      <% include partials/footer %>
