body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.alert{
  width:100%;
}
.login-container{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
}

.full-content{
  width: inherit;
}
