body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn a {
    color: white;
}

.btn a:hover {
    text-decoration: none;
}

.alert {
    width: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;
}

.full-content {
    width: inherit;
}

.list-sondages {
    margin: 0;
    list-style-type: none;
}
.item-sondage{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
}
.item-sondage p{
  width: 45%;
}

.item-sondage div{
  width: 45%;
  display: flex;
  justify-content: space-around;
}
.closeTab {
  cursor: pointer;
  line-height: 35px;
  padding-right: 10px;
  opacity: 0.6;
}
.closeTab:hover {
  opacity: 1;
}
