<template name="register">
    <form class="form-inline">
        <input type="email" name="registerEmail">
        <input type="password" name="registerPassword">
        <input type="submit" value="Créer un compte">
    </form>
</template>
<template name="login">
    <form class="form-inline">
        <input type="email" name="loginEmail">
        <input type="password" name="loginPassword">
        <input type="submit" value="Se connecter">
    </form>
</template>
<template name="logged">
    <p>You're logged in.</p>
    <p><a href="#" class="logout">Logout</a></p>
</template>
