<% include ../partials/header %>
  <h1>Nouveau  sondage </h1>
  <% if(messages.success){%>
    <div class="alert alert-success">
      <%= messages.success %>
    </div>

    <%}%>
      <% if(messages.error){%>
        <div class="alert alert-error">
          <%= messages.error %>
        </div>

        <%}%>
                    <div class="content">
                        <form action="/polls/new" method="post" enctype="multipart/form-data" class="save-all-wrap" id="form-save-all">
                            <div class="form-group">
                                <label for="title">Titre</label>
                                <input type="text" class="form-control" id="title" name="title" value="">
                            </div>
                            <div class="form-group">
                                <label for="logo">Logo</label>
                                <input type="file" id="logo" class="form-control" name="logo" value="">
                            </div>
                            <div class="form-group">
                                <label for="font">Font</label>
                                <input type="text" name="font" class="form-control" value="font">
                            </div>
                            <div class="form-group">
                                <label for="font_color">Font color</label>
                                <input type="text" name="font_color" class="form-control" id="font_color" value="">
                            </div>
                            <div class="form-group">
                                <label for="background_color">Background color</label>
                                <input type="text" class="form-control" name="background_color" value="">
                            </div>
                            <div id="form-builder-pages">
                                <ul id="tabs" class="tabs-poll">
                                    <li><a href="#page-1">Page 1</a></li>
                                    <li id="add-page-tab"><a href="#new-page">+ Page</a></li>
                                </ul>
                                <div id="page-1">
                                    <div class="build-wrap"></div>
                                </div>
                                <div id="new-page">
                                </div>
                            </div>

              <button id="save-all" class="btn btn-primary" type="submit">Save All</button>
            </form>
          </div>


          <script src="/jquery/jquery.min.js"></script>
          <script src="/jqueryui/jquery-ui.min.js"></script>
          <script src="/bootstrap/js/bootstrap.min.js"></script>
          <script src="/formbuilder/form-builder.min.js"></script>
          <script src="/formbuilder/form-render.min.js"></script>
          <script src="/socket.io/socket.io.js"></script>
          <script src="/chart/Chart.js"></script>


          <script src="/js/builder.js"></script>
          <script src="/js/formbuilderplugin.js"></script>


          <% include ../partials/footer %>
