<% include ../partials/header %>

    <body>
        <div id="poll_content">

        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/jquery/jquery.min.js"></script>
    </body>
    <% include ../partials/footer %>
