<template name="pollEdit">
  <form class="main form page">
    <div class="form-group">
      <label class="control-label" for="url">Question</label>
      <div class="controls">
          <input name="question" id="question" type="text" value="{{question}}" placeholder="Votre question" class="form-control"/>
        </div>
    </div>
  <div class="form-group">
      <label class="control-label" for="title">Réponses</label>
      <div class="controls">




        <input name="response1" id="reponses" type="text" value="{{response1}}" placeholder="Réponse 1" class="form-control"/>
        <input name="response2" id="reponses" type="text" value="{{response2}}" placeholder="Réponse 2" class="form-control"/>
        <input name="response3" id="reponses" type="text" value="{{response3}}" placeholder="Réponse 3" class="form-control"/>

        </div>
    </div>
    <input type="submit" value="Modifier" class="btn btn-primary submit"/>
    <hr/>
    <a class="btn btn-danger delete" href="#">Supprimer le sondage</a>
  </form>
</template>
